html,
body {
  height: 100%;
}

*,
*::before,
*::after,
:root {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #fafafa;
  font-size: 62.5%;
  font-family: "Overlock", Arial, Helvetica, sans-serif;
  overflow-x: hidden;
}

/*Intro Header*/
.intro-container {
  position: fixed;
  background: url("https://images.unsplash.com/photo-1559251606-c623743a6d76?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1050&q=80");
  border: none;
  background-repeat: no-repeat;
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  overflow: hidden;
}

#welcome-section {
  background-attachment: fixed;
  background-size: cover;
  position: relative;
  min-height: 100vh;
  /* margin: 0 auto;
  z-index: 1; */
}

#welcome-section::before {
  content: "";
  position: fixed;
  background-image: linear-gradient(
      to left,
      #fb6f92 55%,
      rgba(0, 255, 0, 0) 80%
    ),
    url("https://images.unsplash.com/photo-1559251606-c623743a6d76?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1050&q=80");
  background-attachment: fixed;
  width: 100%;
  min-height: 100vh;
  z-index: -1;
  opacity: 0.8;
  animation: float-up 2000ms 400ms forwards;
}

@keyframes float-up {
  from {
    background-position-y: -60px;
  }
  to {
    opacity: 1;
    background-position-y: 0;
  }
}

#welcome-section .container {
  width: fit-content;
  position: absolute;
  right: 0;
  top: 50%;
  right: 25%;
  opacity: 0;
  transform: translate(0, -50%);
  animation: slide-in 1000ms 800ms forwards;
}

@keyframes slide-in {
  from {
    right: 0;
  }
  to {
    opacity: 1;
    right: 20%;
  }
}

#welcome-section .container h1 {
  font-size: 4rem;
  font-weight: normal;
  font-style: bold;
  color: #fafafa;
  line-height: 3rem;
}

.line {
  display: block;
}

@media only screen and (max-width: 649px) {
  #welcome-section .container {
    right: 50%;
    top: 10%;
    width: 80%;
    transform: translate(50%, 0);
    animation: text-fade-in 1000ms 800ms forwards;
  }

  @keyframes text-fade-in {
    from {
      right: 0;
    }
    to {
      opacity: 1;
      right: 50%;
    }
  }
}
