html,
body {
  height: 100%;
}

*,
*::before,
*::after,
:root {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  font-family: "Josefin Sans", sans-serif;
}

body {
  margin: 0;
  padding: 0;
  background: #fb6f92;
  font-size: 3rem;
  font-family: "Josefin Sans", sans-serif;
}

/*Navbar Container*/
.nav-container {
  width: 100%;
  padding-top: 2rem;
  padding-right: 3rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  font-weight: bold;
  font-weight: 2rem;
  background-color: transparent;
  color: white;
}

/* Paragraph Nav item Container */
#nav-item-container p {
  font-size: 1.5rem;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}

/* Links Nav item Container */
#nav-item-container a {
  color: white;
  text-decoration: none;
}

/*Nav item Container */
#nav-item-container {
  border-radius: 5px;
  text-align: center;
  border: 2px solid;
  background-color: transparent;
  border-radius: 5px;
  border-image: linear-gradient(to bottom, #fb6f92, #f51d76) 1 100%;
  color: white;

  animation: float-up-nav 1500ms 600ms forwards;
  opacity: 0;
  font-size: 1.5rem;
  padding: 1rem;
  padding-top: 4rem;
  font-size: 4rem;
  letter-spacing: 6px;
  text-shadow: 2px 2px #f51d76;
  -webkit-text-fill-color: #f51d76;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: white;
  text-shadow: 2px 2px #343a40;
}

/*Nav animation */
@keyframes float-up-nav {
  from {
    background-position-y: -100px;
  }
  to {
    opacity: 1;
    background-position-y: 0;
  }
}

/*Welcome Section */
#welcome-section {
  background-attachment: fixed;
  background-size: cover;
  position: relative;
  min-height: 100vh;
}

/*Welcome Section Before Pseudo Element*/
#welcome-section::before {
  content: "";
  position: fixed;
  background-image: linear-gradient(
      to top left,
      #fb6f92 50%,
      rgba(0, 255, 0, 0) 100%
    ),
    url("https://images.unsplash.com/photo-1532680678473-a16f2cda8e43?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=2000&q=80");
  background-attachment: fixed;
  width: 100%;
  min-height: 100vh;
  z-index: -1;
  opacity: 0.8;
  animation: float-up 2000ms 400ms forwards;
}
/*Welcome Section Animation*/
@keyframes float-up {
  from {
    background-position-y: -60px;
  }
  to {
    opacity: 1;
    background-position-y: 0;
  }
}
/*Welcome Section Heading Container*/
#welcome-section .heading-container {
  width: fit-content;
  position: absolute;
  right: 0;
  top: 50%;
  right: 50%;
  opacity: 0;
  transform: translate(0, 100%);
  animation: h1-slide-from-left 1000ms 800ms forwards;
}

/*Welcome Section H1 Animation*/
@keyframes h1-slide-from-left {
  from {
    right: 0;
  }
  to {
    opacity: 1;
    right: 20%;
  }
}

/*H1 Heading*/
#h1-span h1 {
  margin-top: 0rem;
  font-size: 5rem;
  letter-spacing: 5px;
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: white;
  text-shadow: 3px 4px #f51d76;
  position: relative;
  top: 60%;
  left: 45%;
  transform: translate(-20%, -50%);
}

/*General heading styles*/
.heading {
  display: block;
}

/* Projects Section*/
#projects {
  min-height: 100vh;
  width: 100vw;
  font-size: 2rem;
  position: relative;
  border-top: 5px #f51d76;
  opacity: 0.95;
  background-color: transparent;
  margin-top: -5rem;
  opacity: 1;
  z-index: 1;
}

/* About H2*/
#h2-span-about h2 {
  padding-top: 5rem;
  font-size: 4rem;
  letter-spacing: 5px;
  -webkit-text-fill-color: #f51d76;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: white;
  text-shadow: 3px 4px #343a40;
  opacity: 0.9;
  top: 2%;
  left: 53%;
}

/* About Paragraph Container*/
#about-info-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
}

/* About Paragraph */
.about-info {
  text-align: center;
  overflow: hidden;
  background-color: transparent;
  color: white;
  font-weight: bold;
  padding: 1.5rem;
}

/* Project Container */
#projects #projects-container {
  max-width: 1400px;
  margin: 0 auto;
  padding: 11rem 4rem 9rem;
  width: 100%;
  background: transparent;
}

/* Project Heading */
#projects .heading .title {
  align-self: center;
  justify-content: center;
  font-size: 2.4rem;
  line-height: 2.4rem;
}

/* Single Project */
#projects .project {
  margin: 1rem auto;
  width: 100%;
  padding: 1rem;
  display: grid;
  grid-template-columns: 2fr 2fr;
  grid-gap: 3rem;
}

/* Project Image */
#projects .project .project-link {
  display: block;
  text-align: center;
  overflow: hidden;
  border: 5px solid;
  background-color: #ff8fab;
  border-radius: 5px;
  border-image: linear-gradient(to bottom, #ff8fab, #f51d76) 1 100%;
  color: white;
  color: #e0dfdc;
  box-shadow: 0 20px 20px -15px #25293450;
}

/* Project Link Hover */
#projects .project .project-link:hover {
  box-shadow: 0 40px 30px -30px #25293450;
}

/* Project Link Image Hover */
#projects .project .project-link:hover > img {
  filter: saturate(1);
  transform: scale(1.05);
}

/* Project Image */
#projects .project .project-image {
  width: 100%;
  transform: scale(1.2);
  transition: all 300ms;
  filter: saturate(0);
}

/* Project Details */
#projects .project .project-details {
  margin: auto 0;
}

/* Project Details Tile Heading */
#projects .project-details .project-tile {
  font-size: 1.85rem;
  text-transform: uppercase;
  font-weight: bold;
  text-align: center;
  margin-bottom: 1.5rem;
  letter-spacing: 4px;
  -webkit-text-fill-color: #f51d76;
  -webkit-text-stroke-width: 0.5px;
  -webkit-text-stroke-color: white;
  text-shadow: 3px 4px #343a40;
  opacity: 0.9;
}

/* Project Details Paragraph */
#projects .project-details p {
  padding: 0.25rem;
  margin: 1rem 0;
}

/* Project Details Buttons */
#projects .project-details .buttons {
  display: flex;
  justify-content: space-evenly;
}

/* Project Details Button Links */
#projects .project-details .buttons a {
  width: 30%;
  padding: 0.65rem;
  margin-top: 0.5rem;
  border-radius: 5px;
  border-radius: 5px;
  color: white;
  font-weight: bolder;
  background: #f51d76;
  color: #fafafa;
  border-bottom: 2px solid;
  border-color: #ec0868;
  box-shadow: 0 20px 20px -15px #25293450;
  font-size: 1.2rem;
  text-decoration: none;
  text-align: center;
}

/* Project Details Button Links On Hover*/
#projects .project-details .buttons a:hover {
  background: #ff8fab;
  border-bottom: 2px solid;
  border-color: #ff5c8d;
}

/* Triangle Clip Image*/
.triangle-clip-image {
  background: url(https://images.unsplash.com/photo-1532680678473-a16f2cda8e43?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=200&q=80);
  clip-path: polygon(50% 0, 100% 100%, 0 100%);
  width: 200px;
  height: 200px;
  opacity: 0.35;
  float: right;
}

/*Media Queries*/

/*Viewports max width 1149*/
@media only screen and (max-width: 1149px) {
  #h1-span h1 {
  }
  #projects .project {
    grid-template-columns: 1fr 2fr;
  }
}
/*Viewports max width 1099*/
@media only screen and (max-width: 1099px) {
  #h2-span-about h2 {
    padding-top: 5rem;
    font-size: 3.5rem;
    letter-spacing: 5px;
    -webkit-text-fill-color: #f51d76;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: white;
    text-shadow: 3px 4px #343a40;
    opacity: 0.9;
    top: 2%;
    left: 53%;
  }
  #projects .project {
    grid-template-columns: 1fr 1fr;
  }
}

/*Viewports max width 949*/
@media only screen and (max-width: 949px) {
  #projects .project {
    grid-template-columns: 1fr;
  }
}

/*Viewports max width 768*/
@media only screen and (max-width: 768px) {
  #nav-item-container p {
    font-size: 1rem;
    padding-left: 0.15rem;
    padding-right: 0.15rem;
  }
  .about-info {
    text-align: center;
    overflow: hidden;
    font-size: 1.4rem;
    background-color: transparent;
    color: white;
    font-weight: bold;
    padding: 1.5rem;
  }
  #projects #projects-container {
    padding-left: 2rem;
    padding-right: 2rem;
  }
}

/*Viewports max width 649*/
@media only screen and (max-width: 649px) {
  #welcome-section .container {
    right: 50%;
    top: 10%;
    width: 80%;
    transform: translate(50%, 0);
    animation: text-fade-in 1000ms 800ms forwards;
  }

  @keyframes text-fade-in {
    from {
      right: 0;
    }
    to {
      opacity: 1;
      right: 50%;
    }
  }
  #h2-span-about h2 {
    padding-top: 5rem;
    font-size: 3rem;
    letter-spacing: 5px;
    -webkit-text-fill-color: #f51d76;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: white;
    text-shadow: 3px 4px #343a40;
    opacity: 0.9;
    top: 2%;
    left: 53%;
  }
  .about-info {
    text-align: center;
    overflow: hidden;
    font-size: 1.25rem;
    background-color: transparent;
    color: white;
    font-weight: bold;
    padding: 1.5rem;
  }

  #projects #projects-container {
    padding-left: 2rem;
    padding-right: 2rem;
  }
  #projects .project {
    padding: 2rem 0;
  }
}

/*Viewports max width 579*/
@media only screen and (max-width: 579px) {
  #h1-span h1 {
    margin-top: 0rem;
    font-size: 3.5rem;
    position: relative;
    top: 50%;
    left: 45%;
    transform: translate(-50%, -50%);
  }

  #h2-span-about h2 {
    padding-top: 5rem;
    font-size: 2.5rem;
    letter-spacing: 5px;
    -webkit-text-fill-color: #f51d76;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: white;
    text-shadow: 3px 4px #343a40;
    opacity: 0.9;
    top: 2%;
    left: 53%;
  }
  #nav-item-container p {
    font-size: 0.8rem;
    padding-left: 0.05rem;
    padding-right: 0.05rem;
  }

  #projects #projects-container {
    padding-left: 2rem;
    padding-right: 2rem;
  }
  #projects .project {
    padding: 2rem 0;
  }
}

/*Viewports max width 414*/
@media only screen and (max-width: 414px) {
  #h1-span h1 {
    margin-top: 0rem;
    font-size: 3rem;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  #nav-item-container p {
    font-size: 0.65rem;
    padding-left: 0.01rem;
    padding-right: 0.01rem;
  }
  .about-info {
    text-align: center;
    overflow: hidden;
    font-size: 1rem;
    background-color: transparent;
    color: white;
    font-weight: bold;
    padding: 1.5rem;
  }
  #projects #projects-container {
    padding-left: 2rem;
    padding-right: 2rem;
  }
  #projects .project-details .project-tile {
    font-size: 1.5rem;
    text-transform: uppercase;
    font-weight: bold;
    text-align: center;
    margin-bottom: 1.5rem;
    letter-spacing: 4px;
    -webkit-text-fill-color: #f51d76;
    -webkit-text-stroke-width: 0.5px;
    -webkit-text-stroke-color: white;
    text-shadow: 3px 4px #343a40;
    opacity: 0.9;
  }
}
