html,
body {
  height: 100%;
}

*,
*::before,
*::after,
:root {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #fafafa;
  font-size: 3rem;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

/*Intro Header*/
.intro-container {
  position: fixed;
  background: url("https://images.unsplash.com/photo-1541580104-94e138c83ca9?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=2850&q=80");
  border: none;
  background-repeat: no-repeat;
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  overflow: hidden;
}

#welcome-section {
  background-attachment: fixed;
  background-size: cover;
  position: relative;
  min-height: 100vh;
}

#welcome-section::before {
  content: "";
  position: fixed;
  background-image: linear-gradient(
      to left,
      #fb6f92 65%,
      rgba(0, 255, 0, 0) 90%
    ),
    url("https://images.unsplash.com/photo-1532680678473-a16f2cda8e43?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1050&q=80");
  background-attachment: fixed;
  width: 100%;
  min-height: 100vh;
  z-index: -1;
  opacity: 0.8;
  animation: float-up 2000ms 400ms forwards;
}

@keyframes float-up {
  from {
    background-position-y: -60px;
  }
  to {
    opacity: 1;
    background-position-y: 0;
  }
}

#welcome-section .container {
  width: fit-content;
  position: absolute;
  right: 0;
  top: 50%;
  right: 25%;
  opacity: 0;
  transform: translate(0, -50%);
  animation: h1-slide-from-left 1000ms 800ms forwards;
}

@keyframes h1-slide-from-left {
  from {
    right: 0;
  }
  to {
    opacity: 1;
    right: 20%;
  }
}

#h2-span h2 {
  margin-top: 3rem;
  font-size: 5rem;
  letter-spacing: 5px;
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: white;
  text-shadow: 3px 4px #f51d76;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

h1 {
  text-align: center;
  font-size: 3rem;
  font-weight: bolder;
  color: #f0f8ff;
}

#welcome-section .container h1 {
  /* color: #fafafa;
  line-height: 2rem;
  font-size: 5rem;
  text-shadow: 3px 3px 0px #e25477, 5px 5px 0px#ff477e;
  font-weight: normal;
  font-style: bold;
  padding: 2rem; */
}

.heading {
  display: block;
}

@media only screen and (max-width: 649px) {
  #welcome-section .container {
    right: 50%;
    top: 10%;
    width: 80%;
    transform: translate(50%, 0);
    animation: text-fade-in 1000ms 800ms forwards;
  }

  @keyframes text-fade-in {
    from {
      right: 0;
    }
    to {
      opacity: 1;
      right: 50%;
    }
  }
}
