body {
  margin: 0;
  font-family: "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
} */

/* .App {
  background: linear-gradient(#00afb9, #0081a7);
} */

#Welcome-Container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding-top: 1.5rem;
  height: 100vh;
}

/* #Intro-Statement {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding-top: 1rem;
} */

/* #h1-span {
  margin-top: 1rem;
  font-size: 4rem;
  letter-spacing: 5px;
  -webkit-text-fill-color: white;
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: grey;
  text-shadow: 3px 3px black;
  /* position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); */
/* */

h1 {
  text-align: center;
  font-weight: bolder;
  color: #f0f8ff;
  animation: flicker 2s infinite alternate;
}

/* .text {
  -webkit-animation: color-change 4s infinite;
  -moz-animation: color-change 4s infinite;
  -o-animation: color-change 4s infinite;
  -ms-animation: color-change 4s infinite;
  animation: color-change 4s infinite;
}

@-webkit-keyframes color-change {
  0% {
    color: white;
  }
  50% {
    color: #fb5607;
  }
  100% {
    color: #d81159;
  }
}
@-moz-keyframes color-change {
  0% {
    color: white;
  }
  50% {
    color: #fb5607;
  }
  100% {
    color: #d81159;
  }
}
@-ms-keyframes color-change {
  0% {
    color: white;
  }
  50% {
    color: #fb5607;
  }
  100% {
    color: #d81159;
  }
}
@-o-keyframes color-change {
  0% {
    color: white;
  }
  50% {
    color: #fb5607;
  }
  100% {
    color: #d81159;
  }
}
@keyframes color-change {
  0% {
    color: white;
  }
  50% {
    color: #dc2f02;
  }
  100% {
    color: #d00000;
  }
} */

.neon-heading {
  color: #fff;
  font-size: 6rem;
  text-shadow: 2px 2px 1px rgba(0, 0, 0, 0.4), 0 0 20px #fe3a80,
    0 0 40px rgba(255, 0, 91, 0.75), 0 0 50px rgba(255, 0, 91, 0.75),
    0 0 100px rgba(255, 0, 91, 0.75);
}

@keyframes flicker {
  0%,
  15%,
  22%,
  30%,
  40%,
  53%,
  60%,
  70%,
  100% {
    text-shadow: 3px 3px 3px rgba(0, 0, 0, 0.3), 0 0 20px #fe3a80,
      0 0 40px rgba(255, 0, 91, 0.75), 0 0 50px rgba(255, 0, 91, 0.75),
      0 0 100px rgba(255, 0, 91, 0.75);
  }
  20%,
  24%,
  55% {
    text-shadow: none;
  }
}

.about-h2 {
  text-align: center;
  color: white;
}

/* color: white;
  border: 5px solid;
  border-radius: 5px;
  background: linear-gradient(
    to right,
    #d6d6d6 20%,
    #a100f2 30%,
    #2c2c2c 70%,
    #2c2c2c 80%
  );
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  background-size: 200% auto;
} */
