body {
  margin: 0;
  font-family: "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
} */

/* .App {
  background: linear-gradient(#00afb9, #0081a7);
} */

#Welcome-Container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding-top: 1.5rem;
  height: 100vh;
}

/* #Intro-Statement {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding-top: 1rem;
} */

h1 {
  text-align: center;
  font-weight: bolder;
  color: #f0f8ff;
}
