#Nav {
  width: 100%;
  padding: 1.5rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  font-weight: bold;
  font-weight: 2rem;
  background-color: transparent;
}

#nav-item-container {
  background-color: transparent;
  border-radius: 5px;
  text-align: center;
  padding: 3px;
  margin: 0.5rem;
  mix-blend-mode: screen;
  padding: 0.5rem;
}

#Linkedin-icon-container {
  background-color: transparent;
  text-align: center;
  border-radius: 5px;
  padding: 3px;
  mix-blend-mode: screen;
  padding: 0.5rem;
  margin: 0.5rem;
}
